{% extends "app/base.html" %}

{% block title %}Error{% endblock %}

{% block body %}
    <div
        style='background-color:#fff; margin:20px; border-radius:20px;box-shadow: 0 3px 10px rgb(0 0 0 / 0.4); padding-right:50px; padding-left:10px; padding-top:10px; border:solid #B71C1C 1px;'>
        <h1 style='color:#B71C1C;'> An error occurred</h1>
        <hr>
        <p>Sorry, an error has occurred.</p>
    </div>
    <div style='background-color:#fff; text-align: center; '>
        <h2>... ᓚᘏᗢ ...</h2>
    </div>
{% endblock %}
